<menu class="social-media-share">
    <a href="https://twitter.com/cjbhaines" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://www.linkedin.com/in/cjbhaines" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/cjbhaines" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="http://cjbhaines.co.uk/rss/" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>